body {
	background-image: url(../images/monkey-black-background-photography-1920x1080.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	color: white;
}

nav {
	background-color: #B39700;
	ul {
		height: 60px;
		margin: 0;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 10px;
		padding-right: 10px;
	}
	li {
		display: inline;
		margin: 15px;
	}
	button,
	a {
		float: right;
		margin: 5px;
	}
}

li {
	display: inline;
}

.qui {
	float: right;
}

section {
	height: 400px;
	padding: 35px;
	table {
		border: medium solid #6495ed;
		border-collapse: collapse;
		width: 80%;
		margin-left: 110px;
		/*background-color: brown;*/
		/*border: 1px solid black;*/
		th {
			font-size: 14px;
			font-family: monospace;
			border: thin solid #6495ed;
			background-color: #B39700;
			width: 55px;
		}
		td {
			font-family: sans-serif;
			border: thin solid #6495ed;
			opacity: 0.8;
			text-align: center;
			width: 55px;
		}
		th,
		td {
			padding: 5px;
			text-align: center;
		}
		button {
			float: right;
			width: 65px;
			font-size: 11px;
			color: black;
		}
	}
}

footer {
	padding-top: 17px;
	height: 40px;
	background-color: #B39700;
	text-align: center;
	.bouton {
		display: inline;
	}
}

//////////*page login.html*////////////
