body {
	/*background-image: url(../images/Background-Image-513-2.jpg);*/
}

nav {
	width: 100%;
	height: 50px;
	background-color: #55634C;
	line-height: 35px;
	li {
		display: inline;
		margin: 15px;
	}
	button,
	a {
		float: right;
		margin: 5px;
	}
}

li {
	display: inline;
}

.qui {
	float: right;
}

table {
	width: 80%;
	margin-left: 110px;
	background-color: brown;
	border: 1px solid black;
	table,
	th,
	td,
	{}
	th,
	td {
		padding: 5px;
		text-align: center;
		border-left: 1px;
	}
	button {
		float: right;
		width: 65px;
		font-size: 10px;
		background-color: blue;
	}
}

footer {
	width: 100%;
	height: 50px;
	background-color: #55634C;
	li {
		display: inline;
		float: left;
		line-height: 15px;
		margin: 15px;
	}
}