<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Compta</title>
	<link rel="stylesheet" href="../app/scss/style.css">
	<script src="lib/angular/angular.js"></script>
	<script src="compta.js"></script>
	<script src="script.js">
	</script>
</head>

<body ng-app="myApp" ng-controller="userCtrl">
	<nav>
		<ul>
			<li>Account friends</li>
			<li>

				<button onclick="document.getElementById('id02').style.display='block'">Je créer un groupe</button>
				<!-- Button to open the modal login form -->


				<!-- The Modal -->
				<div id="id02" class="modal">
					<span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
					<div id="id02" class="mongroupe">
						<style type="text/css">
							.ng-invalid {
								border-color: #B94A48;
							}
							
							.ng-valid {
								border-color: #468847;
							}
						</style>
						<h1>Mon groupe</h1>

						<!---Formulaire de contact-->

						<form name="ajoutUtilisateur" ng-submit="soumission(ajoutUtilisateur.$valid)">
							<div class="form-group">
								<label for="intitule">Intitulé :</label>
								<input type="text" class="form-control" id="intitule" placeholder="Entrez un intitule" ng-model="user.intitule" required>
							</div>
							<div class="form-group">
								<label for="date">Date :</label>
								<input type="text" class="form-control" id="date" placeholder="date" ng-model="user.date" required>
							</div>
							<div class="form-group">
								<label for="participant">Participant :</label>
								<input type="text" class="form-control" id="participant" placeholder="Entrez un participant" ng-model="user.participant" required>
							</div>
							<br>
							<br>

							<div class="group">
								<p>{{usergroup}}</p> {{date}} {{concernes}}
								<div class="groupe"><span class="closebtn" onclick="this.parentElement.style.display='none'">X</span></div>
								<div class="groupe"><span class="closebtn" onclick="this.parentElement.style.display='none'">X</span></div>
								<div class="groupe"><span class="closebtn" onclick="this.parentElement.style.display='none'">X</span></div>
								<div class="groupe"><span class="closebtn" onclick="this.parentElement.style.display='none'">X</span></div>
								<div class="groupe"><span class="closebtn" onclick="this.parentElement.style.display='none'">X</span></div>
								<div class="groupe"><span class="closebtn" onclick="this.parentElement.style.display='none'">X</span></div>
							</div>
					</div>
					</form>
			</li>
			<li><a herf="#">Informations Générale</a>
		</ul>
	</nav>
	<br>
	<section ng-controller="depensesCtrl">

		<table>


			<ul>
				<li>liste des dépenses</li>
				<li class="qui">Vous étes authentifié comme : Jules </li>
			</ul>
			<hr>
			<br>
			<br>

			<!--<tr>
				<th>Qui a payé</th>
				<th>Combien</th>
				<th>Pourquoi</th>
				<th>Date</th>
				<th>Pour qui</th>
				<th>Pour moi</th>
				<th></th>
			</tr>


			<tr ng-repeat="x in users">
				<!--<td>{{ y.Payeur}}</td>
				<td>{{ y.Montant}}</td>
				<td>{{ y.Description }}</td>
				<td>{{ y.Date }}</td>
				<td>{{ x.username }}</td>
				<td>{{ x.usergroup}}</td>
				<td>{{ x.usercolor }}</td>

				<td>

					<button class="button">Supprimer</button>
					<button class="button">Modifier</button>
				</td>
			</tr>-->

		</table>
		<table>

			<tr>
				<th>id</th>
				<th>Montant</th>
				<th>Payeur</th>
				<th>Groupe</th>
				<th>Concernés</th>
				<th>Date</th>
				<th>Qui</th>
				<th>Description</th>

			</tr>



			<tr ng-repeat="y in depenses">

				<td>{{ y.Id}}</td>
				<td>{{ y.Montant}}</td>
				<td>{{aUsers[y.Payeur]}}</td>
				<td>{{y.usergroup}}</td>
				<td>{{ y.Concernes}}</td>
				<td>{{ y.Date }}</td>
				<td>{{ y.nbConcernes}}</td>
				<td>{{ y.Description }}</td>
				<td>

					<button class="button">Supprimer</button>
					<button class="button">Modifier</button>
				</td>

			</tr>


		</table>
	</section>

	<!-- modal utilisateur-->

	<br>
	<hr>
	<br>

	<footer>
		<button onclick="document.getElementById('id01').style.display='block'">Ajouter des participants</button>


		<button class="myModal"> Qui doit quoi à qui</button>


		<!-- Button to open the modal login form -->


		<!-- The Modal participant -->
		<div id="id01" class="modal">
			<span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
			<div id="id01" class="modalutilisateur" ng-controller="userPart">
				<style type="text/css">
					.ng-invalid {
						border-color: #B94A48;
					}
					
					.ng-valid {
						border-color: #468847;
					}
				</style>
				<h1>Ajout d'utilisateurs</h1>

				<!---Formulaire de contact-->

				<form name="ajoutUtilisateur" ng-submit="soumission(ajoutUtilisateur.$valid)">
					<div class="form-group">
						<label for="participant">Participant :</label>
						<input type="text" class="form-control" id="participant" placeholder="Entrez un participant" ng-model="user.participant" required>
					</div>
					<br>
					<div class="form-group">
						<label for="groupe">Groupe :</label>
						<input type="text" class="form-control" id="groupe" placeholder="Entrez un groupe" ng-model="user.groupe" required>
					</div>
					<br>
					<div class="form-group">
						<label>Couleur : </label>
						<label class="radio-inline">
							<input type="radio" id="actif" value="Rouge" ng-model="user.couleur"> Rouge
						</label>
						<label class="radio-inline">
							<input type="radio" id="membre" value="Bleu" ng-model="user.couleur"> bleu
						</label>
						<label class="radio-inline">
							<input type="radio" id="membre" value="Jaune" ng-model="user.couleur"> Jaune
						</label>
						<label class="radio-inline">
							<input type="radio" id="membre" value="Vert" ng-model="user.couleur"> Vert
						</label>
						<label class="radio-inline">
							<input type="radio" id="membre" value="Turquoise" ng-model="user.couleur"> Turquoise
						</label>
					</div>
					<!--<div class="alert alert-danger" ng-show="message">{{message}}</div>-->
					<br>
					<br>
					<button class="btn btn-default" type="submit">Ajouter</button>
					<!--<button onclick="document.getElementById('tyf').style.display='block'" type="submit">Ajouter</button>-->
				</form>
				<br>
				<br>
				<!---Tableau-->
				<table class="table table-bordered">
					<caption>Participants</caption>
					<tr>
						<th>Participant</th>

						<th>Groupe</th>
						<th>Couleur</th>
					</tr>

					<tr ng-repeat="utilisateur in utilisateurs">
						<td>{{utilisateur.participant | uppercase}}</td>
						<td>{{utilisateur.depense}}</td>
						<td>{{utilisateur.couleur}}</td>
					</tr>
				</table>
				<br>
				<br>
				<br>
				<button class="myModal">Ajouter des dépenses</button>
				<button class="myModal">Modifier</button>
				<button class="myModal">Enregistrer</button>
				<!-- Modal Content -->
				<!--<form class="modal-content animate" action="action_page.php">
			

				<div class="container">
					<label><b>Username</b></label>
					<input type="text" placeholder="Enter Username" name="uname" required>

					<label><b>Password</b></label>
					<input type="password" placeholder="Enter Password" name="psw" required>

					<button type="submit">Login</button>
					<input type="checkbox" checked="checked"> Remember me
				</div>
				<div class="container" style="background-color:#f1f1f1">
					<button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
					<span class="psw">Forgot <a href="#">password?</a></span>
				</div>
			</form>-->
			</div>








			<!---MODAL--->
			<!--<button type="button" onclick="document.getElementById('utilisateur')">
			Click me to display Date and Time.</button>-->

			<!--<div class="bouton">
			<button class="myModal">Ajouter des participants</button>
			
			<div id="utilisateur" ng-controller="Controleur">
				<style type="text/css">
					.ng-invalid {
						border-color: #B94A48;
					}
					
					.ng-valid {
						border-color: #468847;
					}
				</style>
				<h1>Ajout d'utilisateurs</h1>
				
		<!---Formulaire de contact
			
				<form  name="ajoutUtilisateur" ng-submit="soumission(ajoutUtilisateur.$valid)">
					<div class="form-group">
						<label for="nom">Nom :</label>
						<input type="text" class="form-control" id="nom" placeholder="Entrez le nom" ng-model="user.nom" required>
					</div>
					<div class="form-group">
						<label for="prenom">Prénom :</label>
						<input type="text" class="form-control" id="prenom" placeholder="Entrez le prénom" ng-model="user.prenom" required>
					</div>
					<div class="form-group">
						<label>Rôle : </label>
						<label class="radio-inline">
							<input type="radio" id="actif" value="Actif" ng-model="user.role"> Actif
						</label>
						<label class="radio-inline">
							<input type="radio" id="membre" value="Membre" ng-model="user.role"> Membre
						</label>
					</div>
					<div class="alert alert-danger" ng-show="message">{{message}}</div>
					<button class="btn btn-default" type="submit">Ajouter</button>
				</form>-->

			<!---Tableau		
				<table class="table table-bordered">
					<caption>Utilisateurs</caption>
					<tr>
						<th>Nom</th>

						<th>Prénom</th>
						<th>Rôle</th>
					</tr>
					<tr ng-repeat="utilisateur in utilisateurs">
						<td>{{utilisateur.nom | uppercase}}</td>
						<td>{{utilisateur.prenom}}</td>
						<td>{{utilisateur.role}}</td>
					</tr>
				</table>-->


		</div>
	</footer>

</body>

</html>